/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #2a2a2a;
    font-size: 1em;
    line-height: 1.4;
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
html.start,
html.start body {
  height: 100%;
  overflow: hidden;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
  text-decoration: none;
  color: #fbb975;
  text-decoration: none;  
}
a:hover {
  text-decoration: underline;
}

input {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header__logo,
.header__reservation,
.header__contacts,
.topslider,
.topslider-pagination

 {
  opacity: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}


#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;  
  z-index: 100;  
}
#loader .logo {
  background: url('../img/logo-black.svg') no-repeat center / cover;
  width: 143px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
}
#loader .bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 100;  
  background-color: #ffdeb9;
}

/* ==========================================================================
   HEADER, TOP SLIDER classes
   ========================================================================== */
header {
  height: 100vh;
  min-height: 680px;
  position: relative;  
}
.header__logo {
  width: 143px;
  height: 120px;
  position: absolute;
  top: 50px;
  left: 70px;
  z-index: 10;
}
.header__logo img {
  width: 143px;
  height: 120px; 
}
.header__reservation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(0, -80px);
}
.header__reservation a {
  display: block;
  width: 255px;
  height: 80px;
  background-color: #ffdeb9;
  font: bold 11px/80px 'Gotham Pro';
  color: #373737;
  text-align: center;
  text-transform: uppercase; 
  transition: all 300ms ease;
  position: relative;
  border: 1px solid #ffdeb9;
}
.header__reservation a::before {
  content: attr(data-text);
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .3s ease-in-out;
  z-index: 2;
}
.header__reservation a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 0%;
  z-index: 1;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.header__reservation a:hover::after {
  height: 100%;
  top: 0;
  bottom: initial;
}
.header__contacts {
  list-style: none;
  margin: 0;
  padding: 0 62px;
  position: fixed;
  top: 0;
  right: 255px;
  z-index: 5;
  height: 80px;
}
.header__contacts li {
  float: left;
  height: 80px;  
}
.header__contacts li.tel {
  font: 20px/80px 'Bodoni';
  color: #fff;
  margin-right: 65px;
  letter-spacing: 4px;
  position: relative;
  z-index: 2;
}
.header__contacts li.lang {
  font: bold 10px/80px 'Gotham Pro';
  color: #fff;  
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.header__contacts li.lang span {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  transition: color 300ms ease;
}
.header__contacts li.lang.show span {
  color: #ffdebc;
}
.header__contacts li.lang span::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url('../img/icon_lang-w.svg') no-repeat center;
  position: absolute;
  top: 30px;
  right: 0;
  transition: all 300ms ease;
}
.header__contacts li.lang.show span::after {
  background: url('../img/icon_lang-h.svg') no-repeat center;
  transform: rotate(180deg);
}
.header__contacts.scroll li.lang span::after {
  background: url('../img/icon_lang-b.svg') no-repeat center;
}
.header__contacts li.lang .lang-list {
  background-color: #fff;
  position: absolute;
  right: -3px;
  top: -60px;
  padding: 7px 0;
  opacity: 0;
  transition: all 300ms ease;
}
.header__contacts li.lang.show .lang-list {
  top: 60px;
  opacity: 1;
}
.header__contacts li.lang .lang-list a {
  display: block;
  line-height: 24px;
  color: #000;
  padding: 0 17px;
  text-decoration: none;
  transition: all 300ms ease;
}
.header__contacts li.lang .lang-list a:hover {
  color: #ffdeb9;
}
.header__contacts li.to-map {
  font: bold 10px/80px 'Gotham Pro';
  color: #fff;  
  letter-spacing: 2px;
  margin-right: 70px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.header__contacts.scroll li.tel,
.header__contacts.scroll li.to-map,
.header__contacts.scroll li.lang span {
  color: #373737;
}
.header__contacts li.bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 250ms ease-in;
}
.header__contacts.scroll li.bg {
  top: 0;
}
.header__contacts li.to-map span {
  cursor: pointer;
  transition: color 300ms ease;
}
.header__contacts li.to-map span:hover {
  color: #ffdeb9;
}
.header__contacts_social {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 110px;
  right: 60px;
  z-index: 2;
  opacity: 0;
}
.header__contacts_social li.f {
  margin-bottom: 30px;
}
.header__contacts_social li.f a {
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/facebook.svg') no-repeat center / auto 14px;
  transition: all 300ms ease;
}
.header__contacts_social li.f a:hover {
 background: url('../img/facebook-hover.svg') no-repeat center / auto 14px; 
}
.header__contacts_social li.t {
  
}
.header__contacts_social li.t a {
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/instagram.svg') no-repeat center / auto 16px;
  transition: all 300ms ease;
}
.header__contacts_social li.t a:hover {
 background: url('../img/instagram-hover.svg') no-repeat center / auto 16px; 
}
.topslider {
  height: 100%;
}
.topslider .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.9, 0.03, 0.65, 0.43);
}
.topslider__slide {
  height: 100%;
  position: relative;
  overflow: hidden; 
}
.topslider__slide::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
}
.topslider__slide_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  overflow: hidden;
  z-index: 0;
  transition: transform 10s linear;
}
.topslider__slide_bg-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.swiper-slide-active .topslider__slide_bg {
  transform: scale(1.2);
}
.topslider__slide_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.topslider__slide_title {  
  font: 90px/82px 'Bodoni';
  margin: 0 0 0 95px;
  padding: 0;
  color: #fff;  
  z-index: 1;  
  letter-spacing: -1px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

}
.topslider__slide_title-animation {
  transition: all 700ms ease 300ms;
  transform: translate(0, -50%);
  opacity: 0;
}
.swiper-slide-active .topslider__slide_title-animation {
  transform: translate(0, 0);
  opacity: 1;
}
.topslider-button-prev {
  width: 100px;
  height: 80px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;  
  border: 1px solid #fff;
  transform: translate(0, 80px);
}
.topslider-button-prev:hover,
.topslider-button-next:hover {
  border: 1px solid #ffdeb9;
}
.topslider-button-prev.swiper-button-disabled:hover,
.topslider-button-next.swiper-button-disabled:hover {
  border: 1px solid #fff;
}
.topslider-button-prev::before {
  content: "";
  background: url('../img/arrow_slide.svg') no-repeat center;
  display: block;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);  
  z-index: 2;
  transition: all .3s ease-in-out;
}
.topslider-button-prev::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ffdeb9;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.topslider-button-next::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #ffdeb9;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.topslider-button-prev i {  
  display: block;
  width: 1px;
  height: 40px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
}
.topslider-button-prev.swiper-button-disabled:hover::after,
.topslider-button-next.swiper-button-disabled:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.topslider-button-prev.swiper-button-disabled::before,
.topslider-button-next.swiper-button-disabled::before {
  background: url('../img/arrow_slide-hover.svg') no-repeat center;
}
.topslider-button-next {
  width: 100px;
  height: 80px;
  background: #fff;
  position: absolute;
  left: 100px;
  bottom: 0;
  z-index: 1;
  cursor: pointer;  
  border: 1px solid #fff;
  transform: translate(0, 80px);
}
.topslider-button-next::before {
  content: "";
  background: url('../img/arrow_slide.svg') no-repeat center;
  display: block;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  z-index: 2;
}
.topslider-button-prev:hover::after {
    width: 100%;
    left: initial;
    right: 0;
}
.topslider-button-next:hover::after {
    width: 100%;
    right: initial;
    left: 0;
}
.topslider-pagination {
  width: auto;
  bottom: 80px;
  right: 200px;
  left: auto;
  position: absolute;
  z-index: 1;
}
.topslider-pagination::before {
  content: "";
  height: 1px;
  width: 160px;
  display: block;
  position: absolute;
  bottom: 17px;
  left: -175px;
  background-color: #fff;
}
.topslider-pagination .current {
  font: 90px/1 'Bodoni';
  color: #ffdeb9;
}
.topslider-pagination i,
.topslider-pagination .length {
  font: bold 10px/1 'Gotham Pro';
  color: #fff;
  position: relative;
  top: -51px;
  left: -5px;
}
#scroll-down {
    display: block;
    position: absolute;
    padding-top: 80px;
    text-align: center;
    right: 85px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    opacity: 0;
}
.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow-down:after {
    content: '';
    display: none;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#scroll-down::before {
    -webkit-animation: elasticus 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 90px;
    background: #fff;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}

/* ==========================================================================
   MAIN classes
   ========================================================================== */
main {
  width: 1140px;
  margin: auto;
}
article.castle {
  margin-top: 100px;
  position: relative;
}
.castle__photo {
  float: left;
  width: 570px;  
}
.castle__photo img {
  width: 570px;
  height: 270px;
}
.castle__text {
  float: right;
  width: 490px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.castle__text h3 {
  margin: 0 0 40px 0;
  padding: 0 0 30px 0;
  font: 24px/1 'Bodoni';
  position: relative;  
}
.castle__text h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}
.castle__text_desc {
  font: 300 14px/24px 'Gotham Pro';  
}
.surrounding {
  margin-top: 120px;
}
.surrounding h2 {
  margin: 0 auto 30px auto;
  padding: 0 0 50px 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px;
  text-align: center;
  width: 380px;
  position: relative;
}
.surrounding ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: table;  
}
.surrounding ul li {
  float: left;
  width: 263px;
  margin-right: 80px;
  position: relative;
}
.surrounding ul li:last-child {
  margin-right: 0;
}
.surrounding ul li:first-child,
.surrounding ul li:last-child {
  transform: translate(0, -80px);
}
.surrounding ul li::before {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translate(-50%, 0); 
}
.surrounding ul li img {
  display: block;
  width: 263px;
}
.surrounding__title {
  margin-top: 30px;
  text-align: center;
  font: 24px/1 'Bodoni';
}
.roomselect {
  margin-top: 100px;
}
.roomselect__description {
  width: 400px;
  float: left;
}
.roomselect__description h2 {
  margin: 0 0 28px 0;
  padding: 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px;
}
.roomselect__description_text {
  margin: 0 0 60px 96px;
  font: 300 14px/24px 'Gotham Pro';
}
.roomselect__description_title {
  margin: 0 0 30px 96px;
  font: 24px/1 'Bodoni';  
}
.roomselect__description_button {
  width: 255px;
  height: 80px;
  margin: 0 0 0 96px;
}
.roomselect__description_button a {
  display: block;
  width: 255px;
  height: 80px;
  background-color: #ffdeb9;
  border: 1px solid #ffdeb9;
  font: bold 11px/80px 'Gotham Pro';
  color: #373737;
  text-align: center;
  text-transform: uppercase; 
  transition: all 300ms ease;
  position: relative;
}
.roomselect__description_button a::before {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #373737;
  z-index: 2;
  transition: all .3s ease-in-out;
}
.roomselect__description_button a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 0%;
  z-index: 1;
  transition: all .3s ease-in-out;
}
.roomselect__description_button a:hover::before {  
  color: #ffdeb9;
}
.roomselect__description_button a:hover::after {
  height: 100%;
  bottom: initial;
  top: 0;
}
.roomselect__slider {
  float: right;
  position: relative;
  width: 670px;
  overflow: hidden;
}
.roomselect__slider .swiper-wrapper {
    transition-timing-function: cubic-bezier(0.9, 0.03, 0.65, 0.43);
}
.roomselect__slider .slide {
  width: 670px; 
}
.roomselect__slider .slide img {
  width: 670px; 
}
.roomselect__slider-pagination {
  position: absolute;
  bottom: -30px;
  left: 370px;
  z-index: 1;
}
.roomselect__slider-pagination .current {
  font: 130px/1 'Bodoni'; 
  color: #fff;
}
.roomselect__slider-pagination i,
.roomselect__slider-pagination .length {
  font: bold 10px/1 'Gotham Pro';
  color: #fff;
  display: inline-block;
  transform: translate(-6px, -45px);
}

.main__slider-button-prev {
  width: 100px;
  height: 80px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease;
  border: 1px solid #fff;
}
.main__slider-button-prev:hover,
.main__slider-button-next:hover {
 border: 1px solid #ffdeb9;
}
.main__slider-button-prev::before {
  content: "";
  background: url('../img/arrow_slide.svg') no-repeat center;
  display: block;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);  
  z-index: 2;
}
.main__slider-button-prev::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ffdeb9;
  width: 0%;
  height: 100%;  
  transition: all .3s ease-in-out;
  z-index: 1;
}
.main__slider-button-next::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #ffdeb9;
  width: 0%;
  height: 100%;  
  transition: all .3s ease-in-out;
  z-index: 1;
}
.main__slider-button-prev:hover::after {
  width: 100%;
  right: 0;
  left: initial;
}
.main__slider-button-next:hover::after {
  width: 100%;
  right: initial;
  left: 0;
}
.main__slider-button-prev i {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.main__slider-button-prev.swiper-button-disabled:hover,
.main__slider-button-next.swiper-button-disabled:hover {
  
}
.main__slider-button-prev.swiper-button-disabled:after,
.main__slider-button-next.swiper-button-disabled:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.main__slider-button-prev.swiper-button-disabled,
.main__slider-button-next.swiper-button-disabled {
  border: 1px solid #fff;
}
.main__slider-button-prev.swiper-button-disabled::before,
.main__slider-button-next.swiper-button-disabled::before {
  background: url('../img/arrow_slide-hover.svg') no-repeat center;
}
.main__slider-button-next {
  width: 100px;
  height: 80px;
  background: #fff;
  position: absolute;
  left: 100px;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease;
  border: 1px solid #fff;
}
.main__slider-button-next::before {
  content: "";
  background: url('../img/arrow_slide.svg') no-repeat center;
  display: block;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  z-index: 2;
}
.spaservices {
  margin-top: 120px;
}
.spaservices__slider {
  float: left;
  width: 670px;
  position: relative;
  overflow: hidden;
}
.spaservices__slider .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.9, 0.03, 0.65, 0.43);
}
.spaservices__slider .slide {
  width: 670px; 
}
.spaservices__slider .slide img {
  width: 670px; 
}
.spaservices__slider-pagination {
  position: absolute;
  bottom: -30px;
  left: 177px;
  z-index: 1;
}
.spaservices__slider-pagination .current {
  font: 130px/1 'Bodoni';
  color: #fff;
}
.spaservices__slider-pagination i,
.spaservices__slider-pagination .length {
  font: bold 10px/1 'Gotham Pro';
  color: #fff;
  display: inline-block;
  transform: translate(-6px, -45px);
}
.spaservices__slider .main__slider-button-next {
  right: 0;
  left: auto;
}
.spaservices__slider .main__slider-button-prev {
  right: 100px;
  left: auto;
}

.spaservices__description {
  width: 365px;
  float: right;
}
.spaservices__description h2 {
  margin: 0 0 28px 0;
  padding: 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px;
  width: 300px;
}
.roomselect__description_text {
  margin: 0 0 60px 96px;
  font: 300 14px/24px 'Gotham Pro';
}
.spaservices .roomselect__description_title {
  margin: 0 0 30px 96px;
  font: 24px/1 'Bodoni';
  display: none;
}
.uniqueoffers {
  margin-top: 120px;
}
.uniqueoffers h2 {
  margin: 0 0 60px 0;
  padding: 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px; 
}
.uniqueoffers ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
}
.uniqueoffers ul li {
  float: left;
  width: 263px;
  margin-right: 80px;  
}
.uniqueoffers ul li:last-child {
  margin: 0;
}
.uniqueoffers ul li img {  
  width: 263px;  
}
.uniqueoffers__title {  
  font: 24px/1 'Bodoni';
  margin-top: 30px;
}
.uniqueoffers__title_image {
  overflow: hidden;  
  height: 322px;
  position: relative;
}
.uniqueoffers__descr {
  background-color: #fff;
  font: 300 14px/24px 'Gotham Pro';
  position: absolute;
  top: -100%;
  left: 0;
  height: 322px;
  z-index: 3;
}
.uniqueoffers__descr_more {
  width: 60px;
  height: 60px;
  background-color: #ffdeb9;
  position: absolute;
  right: 0;
  bottom: 0;  
  cursor: pointer;
}
.uniqueoffers__descr_more::before {
  content: "";
  width: 22px;
  height: 17px;
  position: absolute;
  background: url('../img/icon_more.svg') no-repeat center / 20px 17px;
  display: block;
  top: 50%;
  left: 50%;    
  transform: translate(-50%, -50%);
  z-index: 2;
}
.uniqueoffers__descr_more::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 0%;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.uniqueoffers__descr_more:hover::after {
  height: 100%;
  bottom: initial;
  top: 0;
}
.uniqueoffers__descr_close {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid  #ffdeb9;
  cursor: pointer;
}
.uniqueoffers__descr_close i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  z-index: 2;
}
.uniqueoffers__descr_close::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #ffdeb9;
  width: 100%;
  height: 0%;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.uniqueoffers__descr_close:hover::after {
  height: 100%;
  top: initial;
  bottom: 0;
}
.uniqueoffers__descr_close i::before {
  content: "";
  display: block;
  width: 18px;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  top: 0;
  left: 8px;
  transform: rotate(45deg) translate(0px, 11px);
  transition: all 250ms ease;
}
.uniqueoffers__descr_close i::after {
  content: "";
  display: block;
  width: 18px;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  bottom: 0;
  left: 8px;
  transform: rotate(-45deg) translate(0px, -11px);
  transition: all 250ms ease;
}
article.ourclients {
  margin-top: 100px;
}
article.ourclients h2 {
  text-align: center;
  margin: 0 0 40px 0;
  padding: 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px;
}
.ourclients__text {
  margin: 0 0 80px 0px;
  text-align: center;
  font: 300 14px/24px 'Gotham Pro';
}
.ourclients__slider_output {
  position: relative;
}
.ourclients__slider {
  margin: 0 100px;
  position: relative;
  overflow: hidden;
  padding: 0 1px;
}
.ourclients__slider .swiper-wrapper {
  
}
.ourclients__slider .slide {
  border-right: 1px solid #ffdebc;
  height: 120px;
  text-align: center;
}
.ourclients__slider .slide::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.ourclients__slider .slide img {
  vertical-align: middle;
}
.ourclients__slider .slide:first-child {
 border-left: 1px solid #ffdebc;  
}
.ourclients .main__slider-button-prev {  
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.ourclients .main__slider-button-next {
  left: auto;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.ourclients__slider-button-prev::before {
  content: "";
  background: url('../img/arrow_slide.svg') no-repeat center;
  display: block;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);  
}
.ourclients__slider-button-prev.swiper-button-disabled:hover,
.ourclients__slider-button-next.swiper-button-disabled:hover {
  background-color: #fff!important;
}
.ourclients__slider-button-prev.swiper-button-disabled::before,
.ourclients__slider-button-next.swiper-button-disabled::before {
  background: url('../img/arrow_slide-hover.svg') no-repeat center;
}
.ourclients__slider-button-next {
  width: 100px;
  height: 80px;
  background: #fff;  
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.ourclients__slider-button-next::before {
  content: "";
  background: url('../img/arrow_slide.svg') no-repeat center;
  display: block;
  width: 13px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.ourclients__slider-button-prev:hover,
.ourclients__slider-button-next:hover {
  background-color: #ffdeb9;
}
article.subscribe {
  margin-top: 120px;
}
.subscribe ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.subscribe ul .left {
  width: 400px;
  height: 80px;
  float: left;
  position: relative;  
  font: 24px/1 'Bodoni';
}
.subscribe ul .left::before {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}
.subscribe ul .right {  
  float: right;
}
.subscribe__input {
  width: 442px;
  float: left;
}
.subscribe__input input {
  width: 100%;
  height: 80px;
  padding: 0 29px;
  background: #fff;
  border: 1px solid #e7e7e7;
  font: 300 14px/80px 'Gotham Pro';
}
.subscribe__button {
  float: left;
  width: 255px;
}
.subscribe__button button {
  display: block;
    width: 253px;
    height: 78px;
    background-color: #ffdeb9;
    border: 1px solid #ffdeb9;
    font: bold 11px/80px 'Gotham Pro';
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms ease;
    position: relative;
    cursor: pointer;
}
.subscribe__button button::before {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #373737;
  z-index: 2;
  transition: all .3s ease-in-out;
}
.subscribe__button button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 0%;
  z-index: 1;
  transition: all .3s ease-in-out;
}
.subscribe__button button:hover::before {
  color: #ffdeb9;
}
.subscribe__button button:hover::after {
  height: 100%;
  bottom: initial;
  top: 0;
}


.walking {
  margin-top: 120px;
}
.walking__photo {
  float: left;
  width: 570px;
}
.walking__descr {
  float: right;
  width: 460px;  
}
.walking__descr h2 {
  margin: 0 0 28px 0;
  padding: 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px;
}
.walking__descr_text {
  margin: 0 0 60px 96px;
  font: 300 14px/24px 'Gotham Pro';
}
.reviews {
  margin-top: 120px;
}
.reviews__descr {
  width: 400px;
  float: left;
}
.reviews__descr h2 {
  margin: 0 0 28px 0;
  padding: 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px;
}
.reviews__descr_text {
  margin: 0 0 60px 96px;
  font: 300 14px/24px 'Gotham Pro';
}
.reviews__slider {
  float: right;
  position: relative;
  width: 670px;
  overflow: hidden;
}
.reviews__slider .slide {
  width: 670px;
}
.reviews__slider-pagination {
  position: absolute;
  bottom: -30px;
  left: 370px;
  z-index: 1;
}
.reviews__slider-pagination .current {
  font: 130px/1 'Bodoni';
  color: #fff;
}
.reviews__slider-pagination i,
.reviews__slider-pagination .length {
  font: bold 10px/1 'Gotham Pro';
  color: #fff;
  display: inline-block;
  transform: translate(-6px, -45px);
}
.enjoy {
  margin-top: 120px;
  width: 940px;
  margin: 120px auto 0 auto;
}
.enjoy__text {
  float: left;
  width: 590px;  
}
.enjoy__text h2 {
  margin: 0 0 40px 0;
  padding: 0;
  font: 72px/60px 'Bodoni';
  letter-spacing: -1px;
  position: relative;
}
.enjoy__sub {
  font: 24px/1 'Bodoni';
  margin-left: 130px;
}
.enjoy__button {
  float: right;
  position: relative;
  width: 253px;
  height: 78px;
  background-color: #ffdeb9;
  border: 1px solid #ffdeb9;
  font: bold 11px/80px 'Gotham Pro';
  color: #373737;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms ease;
  margin-top: 27px;
  cursor: pointer;
}
.enjoy__button::before {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #373737;
  z-index: 2;
  transition: all .3s ease-in-out;
}
.enjoy__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 0%;
  z-index: 1;
  transition: all .3s ease-in-out;
}
.enjoy__button:hover::before {
  color: #ffdeb9;
}
.enjoy__button:hover::after {
  height: 100%;
  bottom: initial;
  top: 0;
}

.enjoy__button i {  
  content: "";
  display: block;
  height: 1px;
  width: 120px;
  background-color: #000;
  position: absolute;
  left: -217px;
  top: 50%;
  margin-top: -1px;
}

/* ==========================================================================
   FOOTER classes
   ========================================================================== */
footer {
  margin-top: 120px;
}
footer .contacts {
  height: 550px;
  position: relative;  
}
footer .contacts #map {
  width: 100%;
  height: 550px;
}
footer .contacts .contacts__info {
  width: 475px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
  padding: 33px 60px;
}
footer .contacts .contacts__info .label {
  font: 300 14px/1 'Gotham Pro';
  margin-bottom: 11px;
}
footer .contacts .contacts__info .info {
  font: 24px/1 'Bodoni';
  margin-bottom: 15px;
}
footer .copyright {
  width: 1140px;
  margin: 30px auto;
  height: 54px;
}
footer .copyright .left {
  float: left;
  font: 300 14px/54px 'Gotham Pro';
}
footer .copyright .right {
  float: right;
  font: 300 14px/54px 'Gotham Pro';
}
footer .copyright .right img {
  width: 65px;
}

/* ==========================================================================
   POPUP classes
   ========================================================================== */
.popupform {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  z-index: 10;  
}
.popupform__animation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background-color: #ffdebc;
  z-index: 10;
}
.popupform__close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 32px;
  right: 32px;  
  cursor: pointer;  
}
.popupform__close::before {
  content: "";
  display: block;
  width: 18px;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  top: 0;
  left: 8px;
  transform: rotate(45deg) translate(0px, 11px);
  transition: all 250ms ease;
}
.popupform__close::after {
  content: "";
  display: block;
  width: 18px;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  bottom: 0;
  left: 8px;
  transform: rotate(-45deg) translate(0px, -11px);
  transition: all 250ms ease;
}
.popupform__close:hover::before,
.popupform__close:hover::after {
  background-color: #ffdebc;
}
.popupform .wrapper {
  width: 1140px;
  margin: auto;
  padding: 60px 0;
}
.popup__options {
  float: left;
  width: 312px;
  margin-right: 78px;
  position: relative;
}
.popupform h3 {
  margin: 00;
  padding: 0 0 30px 0;
  font: 24px/1 'Bodoni';
  position: relative;
}
.popupform h3::before {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}
.popupform section {
  margin-top: 40px;
}
.popupform h4 {
  margin: 0 0 20px 0;
  padding: 0;
  font: bold 12px/1 'Gotham Pro';
}
.popup__options_block .calendar {
  width: 147px;
}
.popup__options_block .calendar input {
  width: 100%;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ffdeb9;
  font: 300 14px/38px 'Gotham Pro';
  padding:0 25px 0 17px;
  background: url('../img/icon_arrow.svg') no-repeat 120px center / 7px 4px;

}
.picker__input--active {
  background: url('../img/icon_arrow-hover.svg') no-repeat 120px center / 7px 4px!important;
}
.picker__holder {
  border-color: #ffdeb9;
  font-family: 'Gotham Pro';
  outline: none;
  color: #2a2a2a;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background: #ffdeb9;
    color: #2a2a2a;
    font-weight: bold;
}
.typeofhotel {

}
.typeofhotel__tabs {
  border-bottom: 1px solid #ffdeb9;
}
.typeofhotel__tabs ul {
  padding: 0 0 20px 0;
  margin: 0 0 -1px 0;
  list-style: none;
  display: table;
  position: relative;
  overflow: hidden;
}
.typeofhotel__tabs ul .standart {
  font: bold 12px/1 'Gotham Pro';
  float: left;
  margin-right: 35px;
  cursor: pointer;
  transition: all 250ms ease;
}
.typeofhotel__tabs ul .mini {
  font: bold 12px/1 'Gotham Pro';
  float: left;
  cursor: pointer;
  transition: all 250ms ease;
}
.typeofhotel__tabs ul .line {
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: #313131;
  height: 1px;  
}
.typeofhotel__tabs ul li:hover {
  color: #ffdeb9;
}
.typeofhotel__tabs_body {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.typeofhotel__checkbox_title {
  font: 300 14px/1 'Gotham Pro';
}
.typeofhotel__tabs_body-slider {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;  
}
.typeofhotel__tabs_body .mini,
.typeofhotel__tabs_body .standart {
  width: 312px;
  float: left;  
}
.typeofhotel__checkbox_list {
  overflow: hidden;
}
.typeofhotel__checkbox_list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150px;
}
.typeofhotel__checkbox_list > ul li {
  margin-bottom: 20px;
}




/* Base for label styling */
.popupform [type="checkbox"]:not(:checked),
.popupform [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.popupform [type="checkbox"]:not(:checked) + label,
.popupform [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  padding-top: 3px;
  height: 24px;
  cursor: pointer;
  font: 300 14px/18px 'Gotham Pro';
  display: block;
}

/* checkbox aspect */
.popupform [type="checkbox"]:not(:checked) + label:before,
.popupform [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 22px; height: 22px;
  border: 1px solid #ffdeb9;
  background: #fff;    
}
/* checked mark aspect */
.popupform [type="checkbox"]:not(:checked) + label:after,
.popupform [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 22px;
  height: 22px;
  display: block;
  background: url('../img/icon_check.svg') no-repeat center / 10px auto;  
  transition: all .2s ease;
  
}
/* checked mark aspect changes */
.popupform [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.popupform [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.popupform [type="checkbox"]:disabled:not(:checked) + label:before,
.popupform [type="checkbox"]:disabled:checked + label:before {
  opacity: 0.5;  
}


/* hover style just for information */
.popupform [type="checkbox"]:not(:checked) + label:hover:after {
  background: url('../img/icon_check.svg') no-repeat center / 10px auto;
  opacity: 0.3!important;
  transform: scale(1)!important;
}
.popupform [type="checkbox"]:disabled  + label:hover:after {
  background: none!important;
}



/* Base for label styling */
.popupform [type="radio"]:not(:checked),
.popupform [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.popupform [type="radio"]:not(:checked) + label,
.popupform [type="radio"]:checked + label {
  position: relative;
  padding-left: 40px;
  padding-top: 3px;
  height: 24px;
  cursor: pointer;
  font: 300 14px/18px 'Gotham Pro';
  display: block;
}

/* checkbox aspect */
.popupform [type="radio"]:not(:checked) + label:before,
.popupform [type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 22px; height: 22px;
  border: 1px solid #ffdeb9;
  border-radius: 50%;
  background: #fff;    
}
/* checked mark aspect */
.popupform [type="radio"]:not(:checked) + label:after,
.popupform [type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: block;
  background-color: #2a2a2a;
  transition: all .2s ease;
  
}
/* checked mark aspect changes */
.popupform [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.popupform [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.popupform [type="radio"]:disabled:not(:checked) + label:before,
.popupform [type="radio"]:disabled:checked + label:before {
  opacity: 0.5;  
}


/* hover style just for information */
.popupform [type="radio"]:not(:checked) + label:hover:after {  
  opacity: 0.3!important;
  transform: scale(1)!important;
}
.popupform [type="radio"]:disabled  + label:hover:after {
  background: none!important;
}



.popupform .bedtype {

}
.bedtype__list {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}
.bedtype__list li.double {
  width: 150px;
  float: left;
  padding-top: 57px;
  background: url('../img/icon_double.svg') no-repeat 0 0 / 90px auto;
}
.bedtype__list li.twin {
  width: 150px;
  float: right;
  padding-top: 57px;
  background: url('../img/icon_twin.svg') no-repeat 0 0 / 90px auto;
}
.bedtype__list.double li.double {
  background: url('../img/icon_double-active.svg') no-repeat 0 0 / 90px auto; 
}
.bedtype__list.twin li.twin {
  background: url('../img/icon_twin-active.svg') no-repeat 0 0 / 90px auto; 
}
.popupform .addoptions .addoptions__item {
  margin-top: 20px;
}
.popup__rooms {
  float: left;
  width: 360px;
  margin-right: 78px; 
}
.popup__rooms_select {
  position: relative;
  margin-top: -6px;
}
.popup__rooms_select span {
  font: 12px/1 'Gotham Pro'; 
  cursor: pointer;
  position: relative;
  background: url(../img/icon_arrow.svg) no-repeat right center / 7px 4px;
  padding-right: 15px;
}
.popup__rooms_select ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 33px;
  left: 0;  
  border: 1px solid #ffdebc;
  display: none;
  z-index: 10;
  background-color: #fff;
}
.popup__rooms_select ul li {
  padding: 0 15px;
  cursor: pointer;
  height: 38px;
  font: 14px/38px 'Gotham Pro';
  transition: all 250ms ease;
}
.popup__rooms_select ul li.active {
  font-weight: bold;  
}
.popup__rooms_select ul li:hover {
  background-color: #ffdebc;
}
.popup__rooms_slider {
  width: 360px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.popup__rooms_slider .swiper-slide img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
.popup__rooms_slider .swiper-wrapper {
    transition-timing-function: cubic-bezier(0.9, 0.03, 0.65, 0.43);
}
.popup__rooms_slider .main__slider-button-prev {
  width: 50px;
  height: 40px;
}
.popup__rooms_slider .main__slider-button-next {
  width: 50px;
  height: 40px;
  left: 50px;
}
.popup__rooms_slider .main__slider-button-prev i {
  background-color: #e7e7e7;
} 
.popup__rooms_info {
  
}
.popup__rooms_number {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
}
.popup__rooms_number-title {
  font: 14px/41px 'Gotham Pro';
  float: left;
}
.popup__rooms_number-select {
  height: 41px;
  float: right;
}
.popup__rooms_number-select .minus,
.popup__rooms_number-select .plus {
  width: 41px;
  height: 41px;
  background-color: #ffdebc;
  display: block;
  position: relative;
  float: left;
  cursor: pointer;
  border: 1px solid #ffdebc;
}
.popup__rooms_number-select .minus::after,
.popup__rooms_number-select .plus::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  width: 0%;
  height: 100%;  
  transition: all .3s ease-in-out;
  z-index: 1;
}
.popup__rooms_number-select .minus:hover::after,
.popup__rooms_number-select .plus:hover::after {
  width: 100%;
  right: initial;
  left: 0;
}
.popup__rooms_number-select .minus.disabled,
.popup__rooms_number-select .plus.disabled {
  opacity: 0.5;
  cursor: default;
}
.popup__rooms_number-select .minus.disabled:hover::after,
.popup__rooms_number-select .plus.disabled:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  width: 0%;
  height: 100%;  
  transition: all .3s ease-in-out;
  z-index: 1;
}
.popup__rooms_number-select .minus::before,
.popup__rooms_number-select .plus::before {
  content: "";
  display: block;
  width: 41px;
  height: 41px;  
  position: absolute;
  top: 0;
  left: 0;  
  transition: all .3s ease-in-out;
  z-index: 2;  
}
.popup__rooms_number-select .minus::before {
  background: url('../img/icon_minus.svg') no-repeat center;
}
.popup__rooms_number-select .plus::before {
  background: url('../img/icon_plus.svg') no-repeat center;
}
.popup__rooms_number-select .minus:hover::before {
  background: url('../img/icon_minus-hover.svg') no-repeat center;  
}
.popup__rooms_number-select .plus:hover::before {
  background: url('../img/icon_plus-hover.svg') no-repeat center;  
}
.popup__rooms_number-select .minus.disabled:hover::before {
  background: url('../img/icon_minus.svg') no-repeat center;
}
.popup__rooms_number-select .plus.disabled:hover::before {
  background: url('../img/icon_plus.svg') no-repeat center;
}
.popup__rooms_number-select input {
  background-color: #fff;
  border: none;
  width: 50px;
  height: 41px;
  text-align: center;
  font: 14px/41px 'Gotham Pro';
  float: left;
  padding: 0 10px;
}
.popup__rooms_number-details {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
  overflow: hidden;
}
.popup__rooms_number-details .show-details {
  float: left;
  padding-right: 18px;
  font: 14px/1 'Gotham Pro';
  background: url(../img/icon_arrow.svg) no-repeat right center / 7px 4px;
  cursor: pointer;
  transition: background 250ms ease;
}
.popup__rooms_number-details .show-details.show {
  background: url(../img/icon_arrow-hover.svg) no-repeat right center / 7px 4px;
}
.popup__rooms_number-details .price {
 font: bold 14px/1 'Gotham Pro';
 float: right; 
}
.popup__rooms_number-details .details-descr {
  width: 360px;
  overflow: hidden;
  display: none; 
}
.popup__rooms_number-details .details-descr .details-text {
  font: 14px/24px 'Gotham Pro';
}
.popup__payment {
  width: 312px;
  float: left;
}
.popup__payment_form-input {
  margin-bottom: 10px;
  overflow: hidden;
}
.popup__payment_form-input input {
  width: 100%;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ffdebc;
  font: 14px/1 'Gotham Pro';
  padding: 0 15px;
  display: block;
  overflow: hidden;
}
.popup__payment_form-input textarea {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border: 1px solid #ffdebc;
  font: 14px/38px 'Gotham Pro';
  padding: 0 15px; 
  resize: none;
  outline: none;
}
.popup__payment_form-input input.error {
  border-color: #ee2a4a;
  background: url('../img/bg-input-error.png') no-repeat 295px center;
}
.popup__payment_form-input input::-webkit-input-placeholder,
.popup__payment_form-input textarea::-webkit-input-placeholder {
  position: relative;
  top: 0;
  transition: all 250ms ease;
}
.popup__payment_form-input input:focus::-webkit-input-placeholder,
.popup__payment_form-input textarea:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */  
  top: -50px;  
}
.popup__payment_form-input input::-moz-placeholder,
.popup__payment_form-input textarea::-moz-placeholder { /* Firefox 19+ */
  position: relative;
  top: 0;
  transition: all 1000ms ease;
}
.popup__payment_form-input input:focus::-moz-placeholder,
.popup__payment_form-input textarea:focus::-moz-placeholder { /* Firefox 19+ */
  top: -100px;  
}
.popup__payment_form-input input:focus:-ms-input-placeholder,
.popup__payment_form-input textarea:focus:-ms-input-placeholder { /* IE 10+ */
  position: relative;
  top: -100px;
  transition: all 1000ms ease;
}
.popup__payment_form-input input:-ms-input-placeholder,
.popup__payment_form-input textarea:-ms-input-placeholder { /* IE 10+ */  
  top: 0;  
}
.popup__payment_form-input input:-moz-placeholder,
.popup__payment_form-input textarea:-moz-placeholder { /* Firefox 18- */
  position: relative;
  top: 0;
  transition: all 1000ms ease; 
}
.popup__payment_form-input input:focus:-moz-placeholder,
.popup__payment_form-input textarea:focus:-moz-placeholder { /* Firefox 18- */  
  top: -100px;  
}
.popup__payment_basket-items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.popup__payment_basket-items::after {
  content: "(Ваша оплата номера служит гарантией бронирования)";
  font: 11px/1 'Gotham Pro';
  letter-spacing: -0.2px;  
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;

}
.popup__payment_basket-items li {
  overflow: hidden;
  margin-bottom: 20px;
  font: 14px/1 'Gotham Pro';
}


.popup__payment_basket-button button {
  display: block;
  width: 253px;
  height: 78px;
  background-color: #ffdeb9;
  border: 1px solid #ffdeb9;
  font: bold 11px/80px 'Gotham Pro';
  color: #373737;
  text-align: center;
  text-transform: uppercase; 
  transition: all 300ms ease;
  position: relative;
  cursor: pointer;
}
.popup__payment_basket-button button::before {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #373737;
  z-index: 2;
  transition: all .3s ease-in-out;
}
.popup__payment_basket-button button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 0%;
  z-index: 1;
  transition: all .3s ease-in-out;
}
.popup__payment_basket-button button:hover::before {  
  color: #ffdeb9;
}
.popup__payment_basket-button button:hover::after {
  height: 100%;
  bottom: initial;
  top: 0;
}
.thankyou__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  padding: 20px;
  z-index: 20;  
  display: none;
}
.thankyou__modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.thankyou__modal_msg {
  position: relative;
  width: 660px;
  text-align: center;
  padding: 75px 0;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
}
.thankyou__modal_msg .close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 32px;
  right: 32px;  
  cursor: pointer;  
}
.thankyou__modal_msg .close::before {
  content: "";
  display: block;
  width: 18px;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  top: 0;
  left: 8px;
  transform: rotate(45deg) translate(0px, 11px);
  transition: all 250ms ease;
}
.thankyou__modal_msg .close::after {
  content: "";
  display: block;
  width: 18px;
  height: 1px;
  background-color: #2a2a2a;
  position: absolute;
  bottom: 0;
  left: 8px;
  transform: rotate(-45deg) translate(0px, -11px);
  transition: all 250ms ease;
}
.thankyou__modal_msg h1 {
  margin: 0;
  padding: 0 0 30px 0;
  font: 72px/1 'Bodoni';
  position: relative;
}
.thankyou__modal_msg h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #000;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.thankyou__modal_msg-txt {
  margin-top: 33px;
  font: 14px/24px 'Gotham Pro';
}
.thankyou__modal_msg p {
  margin: 12px 0 0 0;
  padding: 0;
  font: bold 12px/1 'Gotham Pro'; 
}