/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
  text-decoration: none;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   HEADER, TOP SLIDER classes
   ========================================================================== */
header {
  height: 100vh;
  min-height: 680px;
  position: relative;

  background-color: #ccc;
}
.header__logo {
  width: 143px;
  height: 120px;
  position: absolute;
  top: 50px;
  left: 70px;
  z-index: 10;
}
.header__logo img {
  width: 143px;
  height: 120px; 
}
.header__reservation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
.header__reservation a {
  display: block;
  width: 255px;
  height: 80px;
  background-color: #ffdeb9;
  font: bold 11px/80px 'Gotham Pro';
  color: #000;
  text-align: center;
  text-transform: uppercase; 
}
.header__contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 33px;
  right: 325px;
  z-index: 10;
}
.header__contacts li {
  float: left;
}
.header__contacts li.tel {
  font: bold 11px/16px 'Gotham Pro';
  color: #fff;
  margin-right: 65px;
}
.header__contacts li.f {
  margin-right: 34px;
}
.header__contacts li.f a {
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/facebook.svg') no-repeat center / auto 14px;
}
.header__contacts li.t a {
  display: block;
  width: 16px;
  height: 16px;
  background: url('../img/instagram.svg') no-repeat center / auto 16px;
}
.topslider {
  height: 100%;
}
.topslider__slide {
  height: 100%;
  position: relative;  
}
.topslider__slide_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  z-index: 0;
}
.topslider__slide_bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.topslider__slide_title {  
  font: 90px/82px 'Bodoni';
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 95px;
  transform: translateY(-50%);
  letter-spacing: -1px;
}