@media screen and (max-width: 1140px) {
  .topslider__slide_title {
    font: 9vw/8vh 'Bodoni';
  }
  main {
    width: 720px;
    margin: auto;
  }
  .castle__photo {
    float: none;
    width: auto;
  }
  .castle__photo img {
    width: 720px;
    height: auto;
  }
  .castle__text {
    float: none;
    width: 100%;
    position: static;
    right: 0;
    top: 0;
    transform: translate(0, 0);
    margin-top: 40px;
  }
  .castle__text h3 {
    margin: 0 70px 0 0;
    padding: 0 0 30px 0;
    font: 24px/1 'Bodoni';
    position: relative;
    float: left;
  }
  .surrounding ul li {
    width: 220px;
    margin-right: 30px;    
  }
  .surrounding ul li img {
    width: 220px;
  }
}