<!doctype html>
<html class="start" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="description" content="">        
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/swiper.min.css">
        <link rel="stylesheet" href="/css/classic.css">
        <link rel="stylesheet" href="/css/classic.date.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/main.css?version=10">
        <link rel="stylesheet" href="/css/mq.css">
    </head>
    <body>
        <div id="loader">            
            <div class="logo"></div>
            <div class="bg"></div>
        </div>
        <header>
            <div class="header__logo">
                <img src="./img/logo_vgrad.svg" alt="">
            </div>
            <div class="header__reservation">
                <a href="" data-target="popupform" data-text="Забронировать"></a>
            </div>
            <ul class="header__contacts clearfix">
                <li class="tel">044 371 7575</li>
                <li class="f">
                    <a href=""></a>
                </li>
                <li class="t">
                    <a href=""></a>
                </li>
            </ul>
            
            <div class="swiper-container topslider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide topslider__slide" id="first">
                        <div class="topslider__slide_bg">
                            <div class="topslider__slide_bg-img" style="background-image: url('./img/slides/1.jpg');"></div>                            
                        </div>
                        <h1 class="topslider__slide_title">
                            <div class="topslider__slide_title-animation">Ваш комфортный<br>загородный<br>отдых</div>
                        </h1>
                    </div>
                    <div class="swiper-slide topslider__slide">
                        <div class="topslider__slide_bg">
                            <div class="topslider__slide_bg-img" style="background-image: url('./img/slides/2.jpg');"></div>                            
                        </div>
                        <h1 class="topslider__slide_title">
                            <div class="topslider__slide_title-animation">Ваш комфортный<br>загородный<br>отдых</div>
                        </h1>
                    </div>
                    <div class="swiper-slide topslider__slide">
                        <div class="topslider__slide_bg">
                            <div class="topslider__slide_bg-img" style="background-image: url('./img/slides/3.jpg');"></div>                            
                        </div>
                        <h1 class="topslider__slide_title">
                            <div class="topslider__slide_title-animation">Ваш комфортный<br>загородный<br>отдых</div>
                        </h1>
                    </div>
                    <div class="swiper-slide topslider__slide">
                        <div class="topslider__slide_bg">
                            <div class="topslider__slide_bg-img" style="background-image: url('./img/slides/4.jpg');"></div>                            
                        </div>
                        <h1 class="topslider__slide_title">
                            <div class="topslider__slide_title-animation">Ваш комфортный<br>загородный<br>отдых</div>
                        </h1>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="topslider-pagination">
                    <span class="current"></span>
                    <i>/</i>
                    <span class="length"></span>
                </div>
             
                <!-- If we need navigation buttons -->
                <div class="topslider-button-prev">
                    <i></i>
                </div>
                <div class="topslider-button-next"></div>
            </div>
            <div id="scroll-down">
                <span class="arrow-down"></span>            
            </div>            
        </header>

        <main>
            <article class="castle clearfix">
                <div class="castle__photo">
                    <img src="./img/castle-photo.png" alt="">
                </div>
                <div class="castle__text clearfix">
                    <h3>Замок Вышеград</h3>
                    <div class="castle__text_desc">
                        Это комплекс обьединяющий в себе современный комфорт цивилизации со сказочным и таинственным духом средневековья.
                    </div>
                </div>
            </article>
            <article class="surrounding">
                <h2>Окружим Вас</h2>
                <ul>
                    <li>
                        <img src="./img/surrounding-1.jpg" alt="">
                        <div class="surrounding__title">Индвидуальным подходом</div>
                    </li>
                    <li>
                        <img src="./img/surrounding-2.jpg" alt="">
                        <div class="surrounding__title">Домашним уютом</div>
                    </li>
                    <li>
                        <img src="./img/surrounding-3.jpg" alt="">
                        <div class="surrounding__title">Безопасностью</div>
                    </li>
                </ul>
            </article>
            <article class="roomselect clearfix" data-text="Тип Стандарт">
                <section class="roomselect__description">
                    <h2>Выбор номеров</h2>
                    <div class="roomselect__description_text">Cделает ваш отдых действительно индивидуальным!</div>
                    <div class="roomselect__description_title">Стандарт</div>
                    <div class="roomselect__description_button">
                        <a href="" data-target="popupform" data-text="Забронировать"></a>
                    </div>
                </section>
                <section class="roomselect__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide" data-type="Стандарт">
                            <img src="./img/hotels/standart/standart.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide" data-type="Стандарт Улучшенный">
                            <img src="./img/hotels/standart/standart.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide" data-type="Полу люкс">
                            <img src="./img/hotels/standart/polu_lux_3.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide" data-type="Lux">
                            <img src="./img/hotels/standart/lux_s_djakuzi_5.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide" data-type="Lux">
                            <img src="./img/hotels/standart/lux_s_kaminom1.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide" data-type="VIP">
                            <img src="./img/hotels/standart/vip_s_djakuzi_6.jpg" alt="">
                        </div>
                        <div class="swiper-slide slide" data-type="VIP">
                            <img src="./img/hotels/standart/vip_s_kaminom2.jpg" alt="">
                        </div>
                    </div>
                    <div class="roomselect__slider-pagination">
                        <span class="current">01</span>
                        <i>/</i>
                        <span class="length">07</span>
                    </div>             
                    <!-- If we need navigation buttons -->
                    <div class="main__slider-button-prev">
                        <i></i>
                    </div>
                    <div class="main__slider-button-next"></div>
                </section>
            </article>
            <article class="spaservices clearfix" data-text="Тип Стандарт">
                <section class="spaservices__slider">
                    <div class="swiper-wrapper">
                        <div class="slide swiper-slide">
                            <img src="./img/spa/1.jpg" alt="">
                        </div>
                        <div class="slide swiper-slide">
                            <img src="./img/spa/2.jpg" alt="">
                        </div>
                        <div class="slide swiper-slide">
                            <img src="./img/spa/3.jpg" alt="">
                        </div>
                        <div class="slide swiper-slide">
                            <img src="./img/spa/4.jpg" alt="">
                        </div>
                        <div class="slide swiper-slide">
                            <img src="./img/spa/5.jpg" alt="">
                        </div>
                    </div>
                    <div class="spaservices__slider-pagination">
                        <span class="current">03</span>
                        <i>/</i>
                        <span class="length">07</span>
                    </div>             
                    <!-- If we need navigation buttons -->
                    <div class="main__slider-button-prev">
                        <i></i>
                    </div>
                    <div class="main__slider-button-next"></div>
                </section>
                <section class="spaservices__description">
                    <h2>Spa Услуги</h2>
                    <div class="roomselect__description_text">Cделает ваш отдых действительно индивидуальным!</div>
                    <div class="roomselect__description_title">Тип Стандарт</div>                    
                </section>
            </article>
            <article class="uniqueoffers">
                <h2>Уникальные предложения</h2>
                <ul>
                    <li>
                        <img src="./img/uniqueoffers-1.jpg" alt="">
                        <div class="uniqueoffers__title">Уникальное предложение от Spa</div>
                    </li>
                    <li>
                        <img src="./img/uniqueoffers-2.jpg" alt="">
                        <div class="uniqueoffers__title">Для компаний: конференции с поселением</div>
                    </li>
                    <li>
                        <img src="./img/uniqueoffers-3.jpg" alt="">
                        <div class="uniqueoffers__title">Банкеты высокого качества и отличной цене</div>
                    </li>
                </ul>
            </article>
            <article class="ourclients">
                <h2>Наши Клиенты</h2>
                <div class="ourclients__text">Которые любят у нас проводить время</div>
                <div class="ourclients__slider_output">
                    <section class="ourclients__slider clearfix">
                        <div class="swiper-wrapper">
                            <div class="slide swiper-slide">
                                <img src="./img/clients/1.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/2.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/3.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/4.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/5.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/1.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/2.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/3.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/4.png" alt="">
                            </div>
                            <div class="slide swiper-slide">
                                <img src="./img/clients/5.png" alt="">
                            </div>
                        </div>                    
                    </section>
                    <div class="main__slider-button-prev" id="ourclients__slider-button-prev"></div>
                    <div class="main__slider-button-next" id="ourclients__slider-button-next"></div>
                </div>                
            </article>
            <article class="subscribe">
                <ul class="clearfix">
                    <li class="left">Подпишитесь чтобы не пропустить уникальные предложения от нас</li>
                    <li class="right clearfix">
                        <div class="subscribe__input">
                            <input type="mail" placeholder="Введите E-mail" />
                        </div>
                        <div class="subscribe__button">
                            <button data-text="подписаться"></button>
                        </div>
                    </li>
                </ul>
            </article>
            <article class="walking clearfix">
                <div class="walking__photo">
                    <img src="./img/castle-photo.png" alt="">
                </div>
                <div class="walking__descr">
                    <h2>Прогулки<br>для Вас</h2>
                    <div class="walking__descr_text">Пару слов об удобном местоположении / инфраструктуре/ себе современный комфорт цивилизации со сказочным и таинственным духом средневековья.</div>
                </div>
            </article>
            <article class="reviews clearfix">
                <div class="reviews__descr">
                    <h2>Отзывы наших постояльцев</h2>
                    <div class="reviews__descr_text">Некоторых из них, мы уже знаем 12 лет!</div>
                </div>
                <section class="reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="slide swiper-slide">
                            <img src="./img/reviews.jpg" alt="">
                        </div>
                        <div class="slide swiper-slide">
                            <img src="./img/reviews.jpg" alt="">
                        </div>
                        <div class="slide swiper-slide">
                            <img src="./img/reviews.jpg" alt="">
                        </div>
                    </div>
                    <div class="reviews__slider-pagination">
                        <span class="current">03</span>
                        <i>/</i>
                        <span class="length">07</span>
                    </div>
                    <div class="main__slider-button-prev">
                        <i></i>
                    </div>
                    <div class="main__slider-button-next"></div>
                </section>                
            </article>
            <article class="enjoy clearfix">
                <div class="enjoy__text">
                    <h2>Насладитесь отдыхом,</h2>
                    <div class="enjoy__sub">а об остальном мы позаботимся!</div>
                </div>                
                <div class="enjoy__button" data-target="popupform" data-text="Забронировать">
                    <i></i>
                </div>
            </article>             
        </main>
        <footer>
            <section class="contacts">
                <div id="map"></div>
                <div class="contacts__info">
                    <div class="label">Звоните нам</div>
                    <div class="info">044 331 75 75</div>
                    <div class="label">E - mail адрес</div>
                    <div class="info">vyshegrad@gmail.com</div>
                    <div class="label">Наш адрес</div>
                    <div class="info">ул.Спасская, 25, г. Вышгород</div>
                </div>
            </section>
            <section class="copyright clearfix">
                <div class="left">© 2017 Отельный комплекс ‘’Вышеград‘’</div>
                <div class="right">by                    
                    <img src="./img/angle2.svg" alt="">
                </div>
            </section>
        </footer>



        {% include 'default/booking-form.html.twig' %}
        
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUWZntLXuZ1JC6BFkXMpQNGrYw6aIj22E"></script>
        <script src="/js/vendor/swiper.min.js"></script>
        <script src="/js/vendor/TweenMax.min.js"></script>
        <script src="/js/vendor/picker.js"></script>
        <script src="/js/vendor/SmoothScroll.min.js"></script>
        <script src="/js/vendor/picker.date.js"></script>                
        <script src="/js/main.js?version=5"></script>
        <script src="/js/booking.js?version=10"></script>
        
    </body>
</html>
